* {
    margin: 0;
    background-color: rgb(147, 192, 252);
}
.conteudo-principal {
    position: absolute;
    width: 100%;
    height: 100%;
}
.buscador {
    position: relative;
    top: 1rem;
    left: 50%;
    margin: 0 0 0 -165px;
    border: solid black 3px;
    width: 300px;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
}
input {
    background-color: #32373b;
    border: none;
    border-style: none;
    outline: none;
    height: 2rem;
    width: 15rem;
    border-radius: 50px;
    padding-left: 9px;
    color: rgba(255, 255, 255, 0.842);
}
button {
    margin: 5px;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
#statistics {
    position: relative;
    top: 3rem;
    left: 50%;
    margin: 0 0 0 -150px;
    width: 300px;
}
.imagem-perfil{
    width: 300px;
    margin-bottom: 15px;
}
